<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .flex-container {
        display: flex;
        background-color: #c1d5d6;
        }

        .flex-container > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        align-items: center;
        }
    </style>
    <script>
        var domain = document.location
        var user_id = null;
        var acct_info = {};

        // Prompts user to create an account because an account with the specified user_id was not found
        function promptToCreate(attempted_id) {
            alert("Account with Number: " + attempted_id + " doesn't exist. Try a different number or create a new account!")
        }

        // Attempts to create account using specified user-id
        function accountCreate() {
            var attempted_user_id = document.getElementById('user-id').value;
            var url = (domain + "create");
	        fetch(url).then(function(response) {
                return response.text().then(function(acct_info_s) {
                    console.log(acct_info_s)
                    acct_info = JSON.parse(acct_info_s)
                });
            });
        }

        // Attempts to login using the specified user-id
        function accountLogin() {
            var attempted_user_id = document.getElementById('user-id').value;
            var url = (domain + "login?id='" + attempted_user_id + "'");

            fetch(url).then(function(response) {
                return response.text().then(function(acct_info_s) {
                    console.log(acct_info_s)
                    if (acct_info_s == "ACCOUNT NUMBER NOT FOUND"){
                        promptToCreate(attempted_user_id)
                    }else{
                        acct_info = JSON.parse(acct_info_s)
                    }
                });
            });
        }

        // Outputs message to the output pane
        function log_out(msg) {
            document.getElementById('output-pane').innerHTML += "<br>" + msg;
        }

        // Submits a deposit to the account
        function depositAmount() {
            amount = document.getElementById('input-amount').value;
            float_amt = parseFloat(amount);
            var url = (domain + "transaction/deposit?id="+ user_id + "&amount=" + float_amt + "'")
            fetch(url).then(function(response) {
                return response.text().then(function(acct_info_s) {
                    console.log(acct_info_s)
                });
            });
        }

        // Submits a withdrawal to the account
        function withdrawAmount() {
            amount = document.getElementById('input-amount').value;
            float_amt = parseFloat(amount);
            var url = fetch(domain + "transaction/withdraw?id="+ user_id + "&amount=" + float_amt + "'")
            fetch(url).then(function(response) {
                return response.text().then(function(acct_info_s) {
                    console.log(acct_info_s)
                });
            });
        }
    </script>
    <meta charset="UTF-8">
    <title>CC Banking Inc.</title>
</head>
<body>
<!-- Separates page into two columns -->
<div class='flex-container' id='interactive-pane'>
    <!-- Output pane for displaying output duh -->
    <div id='output-pane' style='width: 600px; height: 550px;'></div>
    <div>
        <!-- First thing visible, prompts user to log in -->
        <div id="user-pass-pane" style="display: inline;">
            <div style='font-size: 30px;'> Account Number: <input type="text" id="user-id" onkeyup="" placeholder=""> </div>
            <button onclick="accountLogin()"><a>Login</a></button>
            <button onclick="accountCreate()"><a>Create</a></button>
        </div>

        <!-- Revealed when user logs in -->
        <div id="logged-in-pane" style="display: none;">
            <!-- Display account that user logged into-->
            <div id="display-id" style="display: inline; font-size: 20px;"> Logged into Account <div id="user-id-display"></div></div>
            <div style='font-size: 20px;'> Amount: <input type="text" id="input-amount" onkeyup="" placeholder="$0.00"> </div>
            <button onclick="depositAmount()"><a>Deposit</a></button>
            <button onclick="withdrawAmount()"><a>Withdraw</a></button>
        </div>
    </div>

    </div>
</div>
</body>
</html>
