<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .flex-container {
            display: flex;
            background-color: #c1d5d6;
        }

        .flex-container > div {
            background-color: #f1f1f1;
            margin: 10px;
            padding: 20px;
            align-items: center;
        }

        table, th, td {
            border: 1px solid black;
            width: 100%;
        }
    </style>
    <script>
        var domain = document.location
        var acct_info = {};

        // Prompts user to create an account because an account with the specified user_id was not found
        function promptToCreate(attempted_id) {
            alert("Account with Number: " + attempted_id + " doesn't exist. Try a different number or create a new account!")
        }

        // Loads account info into login pane and displays
        function switchToLoggedInPane() {
            document.getElementById('logged-in-pane').style.display = "inline";
            document.getElementById('user-pass-pane').style.display = "none";
            document.getElementById('output-pane').style.display = "inline";
            document.getElementById('output-graphs').style.display = "inline";
            document.getElementById('account-ids-pane').style.display = "none";
            document.getElementById('title-pane').style.display = "none";
            console.log("Switching to logged-in pane.");
        }

        // Updates all account information displays in the HTML
        function updateAcctInfoDisplay(user_id) {
            var url = (domain + "login?id=" + user_id);
            console.log("Pulling account info for " + user_id);
            document.getElementById('output-graphs').innerHTML = "placeholder";

	        fetch(url).then(function(response) {
                return response.text().then(function(acct_info_s) {
                    console.log("account_info" + acct_info_s)
                    acct_info = JSON.parse(acct_info_s);
                    document.getElementById('user-id-display').innerHTML = acct_info["bid"];
                    document.getElementById('transaction-history').innerHTML = "";
                    for (i = 0; i < JSON.parse(acct_info["transaction_history"]).length; i++){
                        var row = document.getElementById('transaction-history').insertRow(i);
                        var ts = row.insertCell(0);
                        var balance = row.insertCell(1);
                        ts.innerHTML = JSON.parse(acct_info["transaction_history"])[i]["ts"];
                        balance.innerHTML = "$" + JSON.parse(acct_info["transaction_history"])[i]["balance"];
                    }
                    document.getElementById('transaction-history').innerHTML += "<thead><tr><th>Time</th> <th>Amount</th></tr></thead>";
                });
            });
            var img_url = (domain + "graph/spending?id=" + user_id + "&rand=" + Math.floor(Math.random() * 1000));
            var histo_img_url = (domain + "graph/histogram?id=" + user_id + "&rand=" + Math.floor(Math.random() * 1000));
            document.getElementById('output-graphs').innerHTML = "<img id=" + '"spending-graph" src="' + img_url + '">';
            document.getElementById('output-graphs').innerHTML += "<br><img id=" + '"spending-histo" src="' + histo_img_url + '">';
        }

        // Attempts to create account using specified user-id
        function accountCreate() {
            var url = (domain + "create");
	        fetch(url).then(function(response) {
                return response.text().then(function(acct_info_s) {
                    acct_info = JSON.parse(acct_info_s)
                    updateAcctInfoDisplay(acct_info["bid"]);
                    switchToLoggedInPane();
                });
            });
        }

        // Attempts to login using the specified user-id
        function accountLogin() {
            var attempted_user_id = document.getElementById('user-id').value;
            var url = (domain + "login?id=" + attempted_user_id + "");

            fetch(url).then(function(response) {
                return response.text().then(function(acct_info_s) {
                    console.log(acct_info_s)
                    if (acct_info_s == "ACCOUNT NUMBER NOT FOUND"){
                        promptToCreate(attempted_user_id)
                    }else{
                        updateAcctInfoDisplay(attempted_user_id);
                        switchToLoggedInPane();
                    }
                });
            });
        }

        // Logs out of account currently logged into
        function accountLogout() {
            document.getElementById('logged-in-pane').style.display = "none";
            document.getElementById('user-pass-pane').style.display = "inline";
            document.getElementById('output-pane').style.display = "none";
            document.getElementById('output-graphs').style.display = "none";
            document.getElementById('account-ids-pane').style.display = "inline";
            document.getElementById('title-pane').style.display = "inline";

            document.getElementById('amount-field').style.display = "inline";
            document.getElementById('deposit-button').style.display = "inline";
            document.getElementById('withdraw-button').style.display = "inline";
            document.getElementById('close-button').style.display = "inline";

            console.log("Logging out..");
            acct_info = {};
        }

        // Closes account currently logged into
        var prompted = false;
        function accountClose() {
            if (!prompted){
                alert("Closing your account will delete all data associated with this account number. Press 'Close Account' again to confirm your action.");
                prompted = true;
            }else{
                console.log("Closing account..");
                var url = (domain + "/delete?id=" + acct_info["bid"]);
                accountLogout();
                fetch(url).then(function(response) {
                    return response.text().then(function(result) {
                        console.log(result)
                    });
                });
                prompted = false;
            }
        }

        // Submits a deposit to the account
        function depositAmount() {
            amount = document.getElementById('input-amount').value;
            float_amt = parseFloat(amount);
            if (isNaN(float_amt)) float_amt = 0;
            if (float_amt < 0){
                alert("Invalid deposit amount (no negatives)!") ;
                return;
            }
            var url = (domain + "transaction/deposit?id="+ acct_info["bid"] + "&amount=" + float_amt)
            fetch(url).then(function(response) {
                return response.text().then(function(acct_info_s) {
                    balance = JSON.parse(acct_info_s);
                    updateAcctInfoDisplay(acct_info["bid"]);
                });
            });
        }

        // Submits a withdrawal to the account
        function withdrawAmount() {
            amount = document.getElementById('input-amount').value;
            float_amt = parseFloat(amount);
            if (isNaN(float_amt)) float_amt = 0;
            if (float_amt < 0){
                alert("Invalid withdrawal amount (no negatives)!") ;
                return;
            }
            var url = domain + "transaction/withdraw?id="+ acct_info["bid"] + "&amount=" + float_amt;
            fetch(url).then(function(response) {
                return response.text().then(function(acct_info_s) {
                    updateAcctInfoDisplay(acct_info["bid"]);
                });
            });
        }
        function nukeDB(){
            var url = (domain + "nuke");

            fetch(url).then(function(response) {
                return response.text().then(function(resp) {
                    console.log("Nuke " + resp)
                });
            });
        }

        function genRandAccts(){
            var url = (domain + "generate_accounts");

            fetch(url).then(function(response) {
                return response.text().then(function(resp) {
                    console.log(resp)
                });
            });
        }
    </script>
    <meta charset="UTF-8">
    <title>CC Banking Inc.</title>
</head>
<body>
<!-- Separates page into two columns -->
<div class='flex-container' id='interactive-pane'>
    <div>
        <!-- First thing visible, prompts user to log in -->
        <div id="user-pass-pane" style="display: inline;">
            <div style='font-size: 30px;'> Account ID: <input type="text" id="user-id" onkeyup="" placeholder=""> </div>
            <button onclick="accountLogin()"><a>Login</a></button>
            <button onclick="accountCreate()"><a>Create New Account</a></button>
            <br>
            <br>
            <button onclick="nukeDB()"><a>Nuke All Accounts</a></button>
            <br>
            <br>
            <button onclick="genRandAccts()"><a>Generate 100 Random Accounts</a></button>
        </div>
        <!-- Revealed when user logs in -->
        <div id="logged-in-pane" style="display: none;">
            <!-- Display account that user logged into-->
            <div id="display-id" style="display: inline; font-size: 16px;"> Logged into Account <div id="user-id-display" style="font-weight: bold;"></div></div>
            <br>
            <div style='font-size: 20px;' id="balance-display"> </div>
            <br>
            <div id="amount-field" style='font-size: 20px;'> Amount: <input type="text" id="input-amount" onkeyup="" placeholder="$0.00"> </div>
            <button onclick="depositAmount()" id="deposit-button" style="display: inline"><a>Deposit</a></button>
            <button onclick="withdrawAmount()" id="withdraw-button" style="display: inline"><a>Withdraw</a></button>
            <br>
            <br>
            <button onclick="accountLogout()"><a>Logout</a></button>
            <button onclick="accountClose()" id="close-button" style="display: inline"><a>Close Account</a></button>
        </div>
    </div>

    <!-- First thing visible, displays account ids -->
    <div id="account-ids-pane" style="display: inline; overflow: auto; width: 300px; height: 300px;">
        <table id="account-ids-table"></table>
    </div>

    <!-- First thing visible, gives brief description -->
    <div id="title-pane" style="display: inline; overflow: auto; width: 500px; height: 300px;">
        <h1>Welcome to the CC Banking Portal</h1>
        At CC Banking, we strive to provide the simplest analysis of your completely legitimate assets.
        Making money is as simple as pressing a button! Sleep peacefully knowing that your 100% authentic, vibranium-backed digital
        dollaroos are stored securely on our servers, accessible only to those who know the 12-digit account ID. Trust CC Banking to
        make money-making as stress-free as humanly possible.
        <h4><i>CC Banking Incorporated. Where your money is not our priority.</i></h4>
        <h5>Created by Cameron Cummins and Conor Donihoo</h5>
    </div>

    <!-- Output pane for displaying output duh -->
    <div id='output-pane' style='width: 300px; height: 500px; overflow: auto; display: none'>
        <table id="transaction-history"></table>
    </div>

    <!-- Output pane for displaying graphs -->
    <div id='output-graphs' style='width: 700px; height: 500px; overflow: auto; display: none'></div>
</div>
<table id="jobs-display-loading" style="display: none"></table>
<table id='jobs-display'><thead><tr><th>Job ID</th> <th>Job Type</th> <th>Account ID</th> <th>Status</th></tr> </thead></table>
</body>
<script>
    // Updates table displaying jobs and their statuses
    function updateJobsDisplay() {
        var url = (domain + "jobs");
        document.getElementById('jobs-display-loading').innerHTML = '';
        fetch(url).then(function(response) {
            return response.text().then(function(jobs_s) {
                var jobs = JSON.parse(jobs_s);
                for (i = 0; i < jobs.length; i++){
                    job = jobs[i]
                    var row = document.getElementById('jobs-display-loading').insertRow(i);
                    var job_id = row.insertCell(0);
                    var job_type = row.insertCell(1);
                    var account_id = row.insertCell(2);
                    var status = row.insertCell(3);
                    job_id.innerHTML = job["jid"];
                    job_type.innerHTML = job["type"];
                    account_id.innerHTML = job["bid"];
                    status.innerHTML = job["status"];
                }
            });
        });
    }

    function updateAccountIDs(){
        var url = (domain + "accountids");
        document.getElementById('account-ids-table').innerHTML = '';
        fetch(url).then(function(response) {
            return response.text().then(function(ids_s) {
                var ids = JSON.parse(ids_s);
                for (i = 0; i < ids.length; i++){
                    id = ids[i];
                    var row = document.getElementById('account-ids-table').insertRow(i);
                    var idr = row.insertCell(0);
                    idr.innerHTML = id;
                }
                document.getElementById('account-ids-table').innerHTML += '<thead><tr><th>Account IDs</th></tr></thead>';
            });
        });
    }

    // Creates delay for loop
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    // Update loop for jobs table and account ids
    async function loopJobsDisplay() {
        while (true){
            updateAccountIDs();
            updateJobsDisplay();
            await sleep(10000);
            document.getElementById('jobs-display').innerHTML = document.getElementById('jobs-display-loading').innerHTML;
            document.getElementById('jobs-display').innerHTML += "<thead><tr><th>Job ID</th> <th>Job Type</th> <th>Account ID</th> <th>Status</th></tr> </thead>";
        }
    }
    loopJobsDisplay();
</script>
</html>
